.pos-horizontal {
  grid-template-columns: 1fr 2fr;
}

.pos-vertical {
  grid-template-rows: 2fr 1fr;
}

.pos-horizontal::before,
.pos-horizontal::after,
.pos-vertical::before,
.pos-vertical::after {
  display: block;
}

.pos-horizontal::before {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.pos-horizontal::after {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.pos-vertical::before {
  top: 67%;
  left: 0;
  transform: translate(-50%, -67%);
}

.pos-vertical::after {
  top: 67%;
  right: 0;
  transform: translate(50%, -67%);
}
