.navbar__button:not(:last-child) {
  margin: 0 0 5px;
}

.navbar__button {
  width: 100%;
  border-radius: 25px;
  min-height: 50px;
  color: var(--main-white);
  line-height: 27px;
  padding: 10px 18px;
  font-size: 1.125em;
  text-align: center;
  transition: 0.2s all ease;
}

.navbar__button:hover {
  box-shadow: 0px 0px 2px 1px var(--main-white);
}


